<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vladimirbabenko.android_base_homeworks">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="Android.Manifest.Permission.CallPhone"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:screenOrientation="landscape" -->
        <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityHomeWorkScreen"
            android:label="Sign In"/>
        <activity
            android:name=".OtherTaskActivity"
            android:label="Other Tasks"/>
        <activity android:name=".CustomUserInfoActivity"/>
        <activity android:name=".card.DynamicGuiActivityOld"/>
        <activity android:name=".DynamicGuiActivity"/>
        <activity android:name=".card.MainActivityTest"/>
        <activity
            android:name=".lesson4HomeWork.ColorPickerRezultActivity"
            android:label="Color Picker Rezult"/>
        <activity
            android:name=".lesson4HomeWork.ColorPickerActivity"
            android:label="Color Picker">
            <intent-filter>
                <action android:name="itea.base.lesson4.colorPicker"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".lesson4ClassMaterial.IntentExampleActivity"/>
        <activity android:name=".lesson5ClassMaterial.ArrayAdapterExampleActivity"/>
        <activity android:name=".lesson6CalssMaterial.ArrayAdapterCustomActivity"/>
        <activity android:name=".lesson7_practice.LogoActivity"/>
        <activity
            android:name=".lesson7_practice.BooksListActivity"
            android:label="Books info list"/>
        <activity
            android:name=".lesson7_practice.AddBookActivity"
            android:label="Add Book"/>
        <activity
            android:name=".lesson7_practice.BookPreviewActivity"
            android:label="Book preview">
        </activity>
        <activity android:name=".lesson9.AlertDialogActivity">
        </activity>
        <activity android:name=".lesson10.Lesson11Activity">
        </activity>
        <activity
            android:name=".lesson7_practice.SignUpActivity"
            android:label="SignIn"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".lesson7_practice.SignUpActivityKotlin"
            android:label="Kotlin activity!!!"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".lesson12.DialogFragmentActivity"
            android:label="FragmentDialog">
        </activity>
        <activity android:name=".lesson13.Lesson13">
        </activity>
    </application>

</manifest>